# WordPress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
*/
/wp-content/
wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php

# Configuration
wp-config.php

# Uploads
wp-content/uploads/

# Log files
*.log

# htaccess
.htaccess

# Ignore root-level project files you don’t want in Git
package.json
package-lock.json
eslint.config.mjs

# Gatsby project tracking
!gatsby-site/
# Specifically include its node_modules and public folders
!gatsby-site/node_modules/
!gatsby-site/public/
